@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-work-sans;
}

.verify-phone {
  --ReactInputVerificationCode-itemWidth: 14%;
  --ReactInputVerificationCode-itemHeight: 49px;
  --ReactInputVerificationCode-itemSpacing: 3%;
}
.ReactInputVerificationCode__item {
  @apply !text-xl !font-medium font-work-sans leading-6;
}

@media (min-width: 340px) {
  .verify-phone {
    --ReactInputVerificationCode-itemWidth: 13%;
    --ReactInputVerificationCode-itemHeight: 49px;
    --ReactInputVerificationCode-itemSpacing: 3%;
  }
}

@media (min-width: 400px) {
  .verify-phone {
    --ReactInputVerificationCode-itemWidth: 12%;
    --ReactInputVerificationCode-itemHeight: 49px;
    --ReactInputVerificationCode-itemSpacing: 2%;
  }
}
